/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[2].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[14].oneOf[2].use[2]!./node_modules/next/font/google/target.css?{"path":"utils\\fonts.ts","import":"Montserrat","arguments":[{"subsets":["cyrillic","latin"],"display":"swap","variable":"--font-montserrat"}],"variableName":"montserrat"} ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* cyrillic-ext */
@font-face {
  font-family: '__Montserrat_0c0859';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/b1f344208eb4edfe-s.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: '__Montserrat_0c0859';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/48e2044251ef3125-s.p.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: '__Montserrat_0c0859';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/bf24a9759715e608-s.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: '__Montserrat_0c0859';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/1f173e5e25f3efee-s.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: '__Montserrat_0c0859';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/904be59b21bd51cb-s.p.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}@font-face {font-family: '__Montserrat_Fallback_0c0859';src: local("Arial");ascent-override: 85.79%;descent-override: 22.25%;line-gap-override: 0.00%;size-adjust: 112.83%
}.__className_0c0859 {font-family: '__Montserrat_0c0859', '__Montserrat_Fallback_0c0859';font-style: normal
}.__variable_0c0859 {--font-montserrat: '__Montserrat_0c0859', '__Montserrat_Fallback_0c0859'
}

/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[3].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[14].oneOf[3].use[2]!./node_modules/next/font/local/target.css?{"path":"utils\\fonts.ts","import":"","arguments":[{"src":"../public/fonts/Bender/Bender-Light.woff2","display":"swap","variable":"--font-bender"}],"variableName":"bender"} ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
font-family: '__bender_dc86be';
src: url(/_next/static/media/984913329a8ec8c6-s.p.woff2) format('woff2');
font-display: swap;
}@font-face {font-family: '__bender_Fallback_dc86be';src: local("Arial");ascent-override: 93.06%;descent-override: 18.21%;line-gap-override: 3.03%;size-adjust: 98.86%
}.__className_dc86be {font-family: '__bender_dc86be', '__bender_Fallback_dc86be'
}.__variable_dc86be {--font-bender: '__bender_dc86be', '__bender_Fallback_dc86be'
}

/*!****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./app/games/secret-trails-ogsr-2025/page.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************/
/* Стили специфичные для Secret Trails OGSR */

/* Font-face для этой страницы */
/* @font-face {
  font-family: 'Bender';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/Bender/Bender-Light.woff2') format('woff2');
} */

/* Scoped стили через класс контейнера страницы */
.pageContainer {
  --font-family-secret-trails: var(--font-bender, 'Bender', sans-serif);

  position: relative;

  .custom-font {
    font-family: var(--font-family-secret-trails);
    letter-spacing: 1px;
  }

  /* Select стили */
  .form-control {
    font-weight: 600;

    &.stalker-select {
      letter-spacing: 2px;
    }
  }

  .artifact-cost {
    font-family: var(--font-family-2);
  }

  .artifact-id {
    font-size: 0.9em;
    opacity: 0.7;
    font-family: var(--font-family-2);
  }

  .stat-name {
    color: #f3f3f3;
  }

  .stat-value {
    font-family: var(--font-family-2);
    font-weight: 600;
    -webkit-margin-start: auto;
            margin-inline-start: auto;

    filter: drop-shadow(0 0 2px hsla(0deg, 0%, 0%, 0.5));
  }

  h1 {
    font-family: var(--font-family-secret-trails);
    font-size: clamp(1.5em, 3vw, 2.5em);
    /* backgroundreferences-link: linear-gradient(45deg, #ff8a00, #e52e71);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; */
    color: #ffa500;
    line-height: 1;
  }

  .references {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-sm);
    margin-top: var(--spacing-lg);
  }

  .references-link {
    display: flex;
    flex-flow: row;
    gap: var(--spacing-sm);
    align-items: center;
    transition: color var(--main-transition);

    &>img {
      transition: filter var(--main-transition);
      filter: brightness(5);
    }

    &:hover {
      color: var(--color-accent-dark);

      &>img {
        filter: brightness(0) saturate(100%) invert(46%) sepia(17%) saturate(0%) hue-rotate(204deg) brightness(97%) contrast(93%);
      }
    }
  }

  .references-links-container {
    display: flex;
    flex-flow: row;
    gap: var(--spacing-sm);
  }

  
}


@-moz-document url-prefix() {
  select {
    background-color: var(--color-bg-form-control-dark) !important;
  }
}
